/* Normal desktop*/
@media(max-width:1200px){
	/* 2. header area style */
	.logo{
		position: unset;
		margin-right: 0;
	}
	.price-btn{
		display: none;
	}
	/* 3. slider area style*/
	.slides-contend-box h1{
		font-size: 90px;
	}
	/* 4. about-area style */
	.counter-item .count-numb{
		font-size: 40px;
	}
	/* 5. services area style */
	.themeoo-services{
		padding-bottom: 295px;
	}
	/* 6. how_we_do area style */
	.how-we-do-slider{
		margin-top: -150px;
	}
	/* 9. prices-area style */
	.themeoo-prices-area .big-text{
		font-size: 90px;
	}
	.pricing-featured{
		padding: 30px;
	}
	.pricing-footer{
		padding: 20px 30px 40px 30px;
	}
	.pricing-header{
		padding:35px 30px;
	}
	/* 10. timeline-area */
	.timeline-top-area{
		padding: 50px 50px;
	}
	/* 12. footer area style */
	.footet-contact-number h5{
		font-size: 16px;
	} 
	.footet-contact-number a{
		font-size: 30px;
	}

}

/* Tablet desktop */
@media(max-width:992px){
	/* 2. header area style */
	.themeoo-menu-area{
		position: unset;
		display: unset;
	}
	.hamburger-menu{
		display: block;
	}
	.hamburger-menu.toggle span{
		background-color: transparent;
	}
	.hamburger-menu.toggle span::before{
		background: #32beff;
		transform: rotate(45deg);
		top: 0;
	}
	.hamburger-menu.toggle span::after{
		background: #32beff;;
		transform: rotate(-45deg);
		bottom: 0;
	}
	.temeoo-header_area nav{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 100%;
		background: #e6e6e6;;
		transition: all 0.3s ease-out 0s;
		overflow: hidden;
		z-index: 9999;
		margin-top: -1px;
	}
	.temeoo-header_area nav.active{
		left: 0;
	}
	.temeoo-header_area nav ul{
		flex-direction: column;
	}
	.temeoo-header_area nav ul li a{
		color: #000000;;
		padding: 32px 16px;
		height: 60px;
		line-height: 0;
	}
	.temeoo-header_area nav ul li:first-child a{
		padding-left: 16px;
	}
	.temeoo-header_area nav ul li a:hover{
		border-bottom:none;
		color: #000000;
		background-color: #32beff;
	}
	.logo{
		position: absolute;
		margin-right: 0;
		margin-left: 15px;
		left: 0;
		right: auto;
	}

	/* 3. slider area style*/
	.slides-contend-box .big-text{
		margin-bottom: 30px;
	}
	.slides-contend-box{
		padding-top:0;
	}
	.slides-contend-box h1{
		font-size: 65px;
		margin: 20px 0;
	}
	.slides-contend-box .slides-btn-area{
		margin-top: 72px;
	}
	/* 4. about-area style */
	.about-left-content{
		padding-right: 0;
		margin-bottom: 50px;
	}
	.counter-item .count-numb{
		font-size: 60px;
	}
	/* 5. services area style */
	.themeoo-services{
		padding-bottom: 275px;
	}
	.cta-area{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.cta-area .cta-btn-box{
		margin-left: 0;
		margin-top: 30px;
	}
	/* 6. how_we_do area style */
	.how-we-do-slider{
		margin-top: -130px;
	}
	/* 7. portfolio area style */
	.filters li a {
		font-size: 13px;
		padding-left: 10px;
	}
	.filters li:not(:last-child) a::after{
		margin-left: 10px;
	}
	/* 9. prices-area style */
	.themeoo-prices-area .big-text{
		font-size: 70px;
	}
	.pricing-table .pricing{
		margin-top: 80px;
	}
	.pricing.popular{
		transform: scale(1);
	}

	/* 10. timeline-area */
	.timeline-area h2{
		font-size: 28px;
	}
	.timeline-top-area p{
		padding-left: 0;
	}

	/* 11. contact-us style */ 
	.contact-left-side{
		margin-bottom: 80px;
	}
	/* 12. footer area style */
	.footet-contact-number{
		padding-left: 0;
	}
		/* 12. footer area style */
		.footet-contact-number h5{
			font-size: 15px;
		} 
		.footet-contact-number a{
			font-size: 23px;
		}
		.footet-contact-number span{
			height: 40px;
			width: 40px;
		}
		.footet-contact-number i{
			font-size: 16px;
		}

		.footer-logo{
			padding-right: 20px;
		}
		.copyright{
			margin-bottom: 30px;
		}
		.footer-social-site{
			justify-content: flex-start;
		}
}
/*  mobile */
@media(max-width:768px){
		/* 3. slider area style*/
		.slides-contend-box{
			padding-top: 0;
		}
		.slides-contend-box h1{
			font-size: 85px;
		}
		/* 5. services area style */
		.themeoo-services{
			padding-bottom: 245px;
		}
		/* 6. how_we_do area style */
		.how-we-do-slider{
			margin-top: -100px;
		}
		.team-item{
			margin-right: auto;
			margin-left: auto;
			width: 280px;
		}
		.timeline-item-content{
			flex-direction: column;
		}
		.timeline-item:nth-child(odd) .timeline-item-content,
		.timeline-item:nth-child(even) .timeline-item-content{
			flex-direction: column;
		}
		.timeline-item:nth-child(odd) .timeline-img-box,
		.timeline-item:nth-child(even) .timeline-img-box,
		.timeline-item:nth-child(odd) .timeline-info,
		.timeline-item:nth-child(even) .timeline-info{
			margin-left: 72px;
			margin-right: 0;
			text-align: left;
		}
		.timeline-info{
			width: 100%;
		}
		.timeline-img-box{
			width: 100%;
			margin-bottom: 20px;
		}
		.timeline-marker{
			position: absolute;
			left: 0;
			transform: translateX(-100%);
		}
		.footer-logo{
			border: none;
			padding-right: 0;
			margin-bottom: 30px;
		}
}
/*Extra small devices*/
@media (max-width: 576px) {
		.theme-btn {
			padding: 10px 20px;
		}
		/* 3. slider area style*/
		.slides-contend-box{
			padding-top: 0;
		}
		.slides-contend-box .big-text{
			font-size: 80px;
		}
		.slides-contend-box h1{
			font-size: 58px;
		}
		/* 4. about-area style */
		.about-left-content .qouet-text{
			padding: 90px 40px 40px 90px;
		}
		.about-left-content .qouet-text::before{
			font-size: 65px;
			left: 23px;
		}
		.about-left-content .qouet-text p::after{
			left: -36px;
		}
		.counter-box{
			flex-direction: column;
			align-items: center;
		}
		.counter-item:not(:last-child)::after{
			display: none;
		}
		/* 5. services area style */
		.services-left-area-content .rotate-text-box{
			padding-left: 30px;
		}
		.services-left-area-content .rotate-text-box .big-text{
			font-size: 70px;
			line-height: 50px;
		}
		.services-left-area-content .image-box{
			height: 340px;
		}
		.cta-area{
			padding: 20px;
		}
		/* 5. services area style */
		.themeoo-services{
			padding-bottom: 250px;
		}
		/* 6. how_we_do area style */
		.how-we-do-slider{
			margin-top: -120px;
			padding-bottom: 0;
			padding-top: 0;
		}
		.how-we-do-slider .swiper-slide-active::before,
		.how-we-do-slider .swiper-slide-active::after{
			display: none;
		}
		.how-we-do-desc h2{
			font-size: 28px;
		}
		.progress-item .proress-label{
			width: 130px;
			margin-right: 10px;
		}
		.progress-item .progress {
			margin-right: 10px;
		}
		/* 7. portfolio area style */
		.filters li a {
			font-size: 13px;
			padding-left: 5px;
		}
		.filters li:not(:last-child) a::after{
			margin-left: 5px;
		}
		/* 8. team-area style */
		.themeoo-team-area h2{
			font-size: 28px;
		}
		/* 9. prices-area style */
		.themeoo-prices-area .big-text{
			font-size: 55px;
		}
		.themeoo-prices-area .medium-text{
			font-size: 28px;
		}
		.pricing-header{
			padding:35px 20px;
		}
		.pricing-featured{
			padding: 20px;
		}
		.pricing-footer{
			padding: 20px 20px 40px 20px;
		}
		/* 10. timeline-area style */
		.timeline-top-area{
			padding: 50px 20px;
		}
		.timeline-item:nth-child(odd) .timeline-img-box,
		.timeline-item:nth-child(even) .timeline-img-box,
		.timeline-item:nth-child(odd) .timeline-info,
		.timeline-item:nth-child(even) .timeline-info{
			margin-left: 0;
		}
		.timeline-marker{
			display: none;
		}
		/* 11. contact-us style */ 
		.contact-us-area h2{
			font-size: 28px;
		}
		
 }
